# JavaScript and Electron
node_modules/
dist/
release/
*.log
*.zip
*.7z
electron-win32-x64.zip

# Local work and environment
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.vscode/
.idea/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.idea/
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
